
.dialogsContent {
    background: green;

}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color:  gold;



}
.dialogsUser {
    padding: 0px;
    color: gold;

}
.userContent{
    padding: 10px;
}
.dialog {
 color: red;
}


.messages {
    padding: 10px;
}

.message {
color: white;
text-align: right;

}

.dialogsUser .active{
    color: gold;
}

.item img{
    width: 40px;
    border-radius:75px;

}
.headerMessage{
 text-align: center;
    background: gold;
    color: red;

}