
.dialogsContent {
    background: green;

}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color:  gold;

}
.dialogsUser {
    padding: 10px;
    color: gold;

}
.dialog {
 color: red;
}


.messages {
    padding: 10px;
}

.message {
color: white;

}

.dialogsUser .active{
    color: gold;
}